# Written by Synplify Pro version maplat, Build 1612R. Synopsys Run ID: sid1523438761 
# Top Level Design Parameters 

# Clocks 
create_clock -period 61.056 -waveform {0.000 30.528} -name {top|pclk} [get_ports {pclk}] 
create_clock -period 41.660 -waveform {0.000 20.830} -name {top|clk_24m} [get_pins {u_SB_HFOSC/CLKHF}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set_false_path -from [get_clocks {top|clk_24m}] -to [get_clocks {top|pclk}]
set_false_path -from [get_clocks {top|pclk}] -to [get_clocks {top|clk_24m}]

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

